<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>@ViewBag.Title - ElCarro.do</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
</head>
<body>

    <div class="navbar-fixed navbar-autoheight">
        <nav class="white" role="navigation">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col m4 center">
                        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                        <a id="logo-container" href="@Url.Action("Index", "Home")" class="brand-logo"><img class="responsive-img " src="@Url.Content("~/static/logo_elcarro_navbar_resized.png")"></a>
                    </div>
                    <div class="col m8">
                        <ul class="right hide-on-med-and-down">
                            @Html.Partial("_LoginPartial", "")
                        </ul>
                    </div>
                </div>
                <ul id="nav-mobile" class="side-nav">
                    @Html.Partial("_LoginPartial", "side_nav")
                </ul>
            </div>
        </nav>
    </div>
    <br />


    @RenderBody()


    <!-- Modal Structure -->
    @{ Html.RenderAction("PrivacyPolicy", "Modals"); }

    @{ Html.RenderAction("TermsConditions", "Modals"); }

    @{ Html.RenderAction("Rules", "Modals"); }

    @{ Html.RenderAction("Suggestion", "Suggestion"); }

    @{ Html.RenderAction("BugReport", "BugReport"); }

    <!-- Footer  -->
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">¿Quienes somos?</h5>
                    <p class="grey-text text-lighten-4">
                        Somos un equipo de desarrolladores de software
                        del INTEC. Nuestra <b>misión</b> es promover la competitivad objetiva a través de la valoración
                        comunitaria de los usuarios y su experiencia con las tiendas de repuestos a nivel local.
                        Tenemos la <b>visión</b> de ser la referencia nacional en la industria automotríz.
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Ayuda</a></li>
                        <li><a class="white-text modal-trigger" href="#rules">Reglas</a></li>
                        <li><a class="white-text modal-trigger" href="#privacy_policy">Politica de privacidad</a></li>
                        <li><a class="white-text modal-trigger" href="#terms_conditions">Términos y condiciones</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text modal-trigger" href="#suggestions">Sugerencias</a></li>
                        <li><a class="white-text modal-trigger" href="#bugs_report">Reportar errores</a></li>
                        <li><a class="white-text" href="#!"></a></li>
                        <li><a class="white-text" href="#!"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 ElCarro.do, Todos los derechos reservados.
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/site")

    @RenderSection("scripts", required: false)
</body>
</html>
