@model ElCarro.Web.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registrarse";
}

<div class="container">
    <div class="section">
        <h2>@ViewBag.Title.</h2>
        <h3>Asocia tu cuenta de @Model.Provider.</h3>

        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <h4>Formulario de asociación</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p class="text-info">
                Usted ha sido autenticado correctamente con <strong>@Model.Provider</strong>.
                Por favor entre su correo o usuario y haga click en el boton de registrarse para terminar de
                loguearse.
            </p>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" class="btn btn-default" value="Registrarse" />
                    @if (null != ViewBag.showButton && ViewBag.showButton)
                    {
                        @Html.ActionLink("Volver al login", "Login", "Account", routeValues: new { returnUrl = ViewBag.ReturnUrl }, htmlAttributes: null)
                    }
                </div>
            </div>
        }
    </div>
</div>
