@model ElCarro.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Olvidaste tu contraseña?";
}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Olvidaste tu contraseña</span>
                        <div class="row">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal col s12", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Introduce tu usuario.</h4>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">email</i>
                                        @Html.TextBoxFor(m => m.Name)
                                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                        @Html.LabelFor(m => m.Name, "Nombre de usuario")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 center">
                                        <button class="btn waves-effect waves-light" type="submit">Enviar correo</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
