@model ElCarro.Web.Models.CreateVehiclePart

@{
    ViewBag.Title = "Añadir Parte de Vehículo";
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm("Create", "VehicleParts", null, FormMethod.Post, new { @class = "col s12", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="input-field col s4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4">
                    @Html.TextBoxFor(model => model.Description, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4">
                    @Html.DropDownListFor(m => m.Make, Model.Makes)
                    @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4">
                    @Html.DropDownListFor(model => model.Model, Model.Models)
                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4">
                    @Html.DropDownListFor(m => m.Year, Model.Years)
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="row">
                <div class="input-field col s4">
                    @Html.DropDownListFor(model => model.Store, Model.Stores)
                    @Html.ValidationMessageFor(model => model.Store, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row center">
                <div class="file-field input-field col s4">
                    <div class="btn">
                        <span>@Html.DisplayNameFor(model => model.Photo)</span>
                        @Html.TextBoxFor(model => model.Photo, new { type = "file" })
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Eliga la foto del artículo">
                        @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit">Añadir</button>
                    <a class="btn waves-effect pink lighten-3" href="@Url.Action("Index", "VehicleParts")">Cancelar</a>
                </div>
            </div>


        }
    </div>
</div>
@section ScriptSearch {
    <script type="text/javascript">
        $(function () {
            $("#@Html.IdFor(m=>m.Make)").change(function (e, obj) {
                $.get('@Url.Action("ByMake", "Model", new { make=""})?makeId=' + $(this).val(), function (data) {
                    var select = $('#@Html.IdFor(m=>m.Model)');
                    select.find('option').each(function (i, o) {
                        if (o.value === '') return;
                        $(o).remove();
                    });
                    $.each(data, function (e, d) {
                        var option = new Option(d.Name, d.Id);
                        select.append($(option));
                    });
                    $('select').material_select();
                }).fail(function () {
                    //TODO: Add the submit error form here.
                    alert("Error fetching the models. ");
                });
            });
        });
    </script>
}