@model IEnumerable<ElCarro.Web.Models.VehiclePart>

@{
    ViewBag.Title = "Index";
}
<div class="container" style="min-height: 300px;">
    <p>
        @Html.ActionLink("Añadir", "Create", null, new { @class = "btn waves-effect" })
    </p>
    <table class="bordered striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.Make.Name) @Html.DisplayFor(modelItem => item.Model.Name) @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","VehicleParts", new { id = item.Id })"><i class="small material-icons">mode_edit</i></a>
                        <a href="@Url.Action("Details","VehicleParts", new { id = item.Id })"><i class="small material-icons">details</i></a>
                        <a href="@Url.Action("Delete","VehicleParts", new { id = item.Id })"><i class="small material-icons">delete</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
