@model ElCarro.Web.Models.BugReport

<div id="bugs_report" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>¿Error en la pagina? ¡Dejanos saber!</h4>
        @using (Html.BeginForm("SendBugReport", "BugReport", FormMethod.Post, new { @class = "col s12", role = "form", id = "BugReportForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">perm_identity</i>
                    @Html.TextBoxFor(m => m.NameBR)
                    @Html.ValidationMessageFor(m => m.NameBR, "", new { @class = "text-danger" })
                    @Html.LabelFor(m => m.NameBR, "Nombre")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    @Html.TextBoxFor(m => m.EmailBR)
                    @Html.ValidationMessageFor(m => m.EmailBR, "", new { @class = "text-danger" })
                    @Html.LabelFor(m => m.EmailBR, "Correo Electrónico")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    @Html.TextAreaFor(m => m.DescriptionBR, new { @class = "materialize-textarea" })
                    @Html.ValidationMessageFor(m => m.DescriptionBR, "", new { @class = "text-danger" })
                    @Html.LabelFor(m => m.DescriptionBR, "Descripción del error")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center">
                    <button class="btn waves-effect waves-light" type="submit">Reportar</button>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    SumitForm("BugReportForm");
</script>
