@using ElCarro.Web.Models
@model SearchViewModel

@Styles.Render("~/Content/Home_Search")
@Html.Hidden("link_to_store_icon", Url.Content("~/static/sportutilityvehicle.png"))

<div class="container">
    <div class="row">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get, htmlAttributes: new { @class = "col s12", id = "searchForm" }))
        {
            @Html.HiddenFor(m => m.ActualPage)
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">search</i>
                    @Html.TextBoxFor(m => m.NameOrDescription, htmlAttributes: new { @class = "autocomplete", autocomplete = "off" })
                    @Html.LabelFor(m => m.NameOrDescription)
                </div>
                <div class="input-field col s12 m2">
                    @Html.DropDownListFor(m => m.Year, Model.Years)
                </div>
                <div class="input-field col s12 m2">
                    @Html.DropDownListFor(m => m.Make, Model.Makes)
                </div>
                <div class="input-field col s12 m2">
                    @Html.DropDownListFor(m => m.Model, Model.Models)
                </div>
                <div class="col s12 m12 center">
                    <button class="btn waves-effect waves-light" type="submit" name="action" id="btnBuscar">
                        Buscar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col s12 m9 l10">
        @if (Model.NoResult)
        {
            <p>No fueron encontradas piezas con el criterio de búsqueda provisto.</p>
        }
        <table class="container">
            <tbody>
                @foreach (var row in Model.Results)
                {
                    <tr>
                        <td>
                            <div class="col">
                                <div class="card horizontal">
                                    <div class="card-stacked">
                                        <div class="card-content">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>
                                                        @*@Html.ActionLink(row.Name, "PublicDetails", "VehicleParts", routeValues: new { id = row.Id }, htmlAttributes: null)*@
                                                        <a href="#maps_search" class="modal-trigger" onclick="return setModal('@row.Store.latitude', '@row.Store.longitude', '@row.Name');">@row.Name</a>
                                                        @*<a href="#upload_excel" class="btn-floating green tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Subir excel">
                                                                <i class="material-icons">publish</i>
                                                            </a>*@
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s4 m4 l4">
                                                    @if (string.IsNullOrWhiteSpace(row.Photo))
                                                    {
                                                        <img class="responsive-img" src="~/static/logo_elcarro.png">
                                                    }
                                                    else
                                                    {
                                                        <img class="responsive-img" src="@Url.Content(row.Photo)">
                                                    }
                                                </div>
                                                <div class="col s8">
                                                    <div class="row">
                                                        <div class="col s12 m12 l12">
                                                            <p><strong>Descripción: </strong> @row.Description</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12 m12 l12">
                                                            <p><p><strong>Repuesto: </strong>@row.Store.Company.Name</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<ul class="pagination center">
    <li class="@(Model.ActualPage==1||Model.NoResult ?"disabled":"waves-effect")">
        <a href="#!" id="backPageBtn">
            <i class="material-icons">chevron_left</i>
        </a>
    </li>
    @for (var page = Model.FromPage; !Model.NoResult && page <= Model.ToPage; page++)
    {
        <li class="@(page==Model.ActualPage?"active":"")">
            <a href="#!" class="pageNumber">@page</a>
        </li>
    }
    <li class="@(Model.ActualPage==(Model.Total/SearchViewModel.ResultsPerPages)+ 1||Model.NoResult ?"disabled":"waves-effect")">
        <a href="#!" id="nextPageBtn">
            <i class="material-icons">chevron_right</i>
        </a>
    </li>
</ul>

<div id="maps_search" class="modal modal-fixed-footer">
    <div class="modal-content">
        <input type="hidden" id="no-drageble" value="true" />
        <div id="map-create"></div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

@Scripts.Render("~/bundles/map-search")
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr1uQbYB27-9TXYvVAjRYqPou1QkcTdgk&callback=initMap">
</script>
@section ScriptSearch {
    <script type="text/javascript">
        $(function () {
            function goToPage(page) {
                var total = @(Model.Total/SearchViewModel.ResultsPerPages);
                if (page < 1)
                    page = 1
                else if(page>total+1)
                    page = total;

                $("#@Html.IdFor(m=>m.ActualPage)").val(page);
                $("#searchForm").submit();
            }
            $(".pageNumber").click(function (evt) {
                evt.preventDefault();
                goToPage($(this).html());
            });
            $("li #backPageBtn").click(function (evt) {
                evt.preventDefault();
                goToPage(parseInt($(".pageNumber").html()) - 1);
            });
            $("li #nextPageBtn").click(function (evt) {
                evt.preventDefault();
                goToPage(parseInt($(".pageNumber").html()) + 1);
            });

            $("#btnBuscar").click(function () {
                $("#@Html.IdFor(m=>m.ActualPage)").val(1);
            });
            $("#@Html.IdFor(m=>m.Make)").change(function (e, obj) {
                $.get('@Url.Action("ByMake", "Model", new { make=""})?makeId=' + $(this).val(), function (data) {
                    var select = $('#@Html.IdFor(m=>m.Model)');
                    select.find('option').each(function (i, o) {
                        if (o.value === '') return;
                        $(o).remove();
                    });
                    $.each(data, function (e, d) {
                        var option = new Option(d.Name, d.Id);
                        select.append($(option));
                    });
                    $('select').material_select();
                }).fail(function () {
                    //TODO: Add the submit error form here.
                    alert("Error fetching the models. ");
                });
            });

            $.get('@Url.Action("All","VehicleParts")',
                function (data) {
                    var result = {};

                    $(data).each(function (i, d) {
                        result[d.Name] = d.Photo;
                    });
                    $('#@Html.IdFor(m=>m.NameOrDescription)').autocomplete({
                        data: result
                    });
                })
                .fail(function (data) {
                    alert("Error fetching the names of parts");
                });
        });
    </script>
}
